*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

.navbar{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5 ;  
  z-index: 9;
}

.nav{
  /* border: 2px solid rgb(0, 255, 17); */
  padding: 10px 3vw;
  display: flex;
  justify-content: space-between;
}
.nav-mobile{
  display: none;
}
@media screen and (max-width:1000px){
.nav-items{
  display: none !important;
}
.nav-mobile{
  display: block !important;
}
}
@media screen and (max-width:400px){
  .nav .allbrand-logo{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
  }
  }
.nav-mobile{
  /* border: 2px solid red; */
  position: absolute;
  width: 50px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 29%;
  right: 30px;
  overflow: hidden;
  display: none;
}
.line{
  border: 3px solid #f1eded;
  height: 10px;
  width: 100%;
  display: block;
  background: black;
}



.nav .brand-logo{
  /* border: 2px solid blue; */
  width: 120px;
  height: 80px;
  border-radius: 20px;

}
.nav-items{
  display: flex;
  align-items: center;
}

.search{
  width: 500px;
  display: flex;
}

.search-box{
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: none;
  /* color: #a9a9a9; */
  padding-left: 10px;
  outline: none;
}

.search-btn{
width: 20%;
height: 40px;
padding: 10px 20px;
border: none;
outline: none;
cursor: pointer;
background: #383838;
color: #fff;
text-transform: capitalize;
font-size: 15px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}

.search-box::placeholder{
  color: #a9a9a9;
}

.nav-items a{
  margin-left: 20px;
}

.nav-items a img{
  width: 30px;
}
.nav-items a img:first-child{
border-radius: 50%;
}
.links-container{
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d1d1d1;
}
@media screen and (max-width:400px){
.links-container{
  flex-direction: column;
  text-align: center;
}
.link-item{
  margin: 10px 0;
}
}
.link{
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #383838;
  opacity: 0.5;
  font-weight: bold;
  transition:all 0.5s;
}

.link:hover{
  opacity: 1;
  font-weight: bold;
}

.hero-section{
  /* border: 2px solid blue; */
  width: 100%;
  height:calc(100vh - 145px);
  /* background-image:url(../clothing.html/images/ppp.jpeg) ; */
  background-image:url(../clothing.html/images/shopping1.jpeg) ;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section .logo{
  height: 150px;
  display: block;
  margin: auto;
  max-width: 90vw;
}

.hero-section .sub-heading{
  margin-top:10px;
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  font-size: 35px;
  font-weight: 300;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 0 60px rgba(12, 12, 0, 0.423) inset;
  max-width: 100vw;
}

.product{
  /* border: 2px solid rgb(0, 255, 30); */
height:100vh;
  position: relative;
  overflow: hidden;
  padding: 20px 20px;
  margin: 100px 50px;

}

.product-category{
  padding: 0 10vw;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 40px auto;
  text-align: center;
  font-weight: bolder;

}

.product-container{
  /* border: 2px solid blue; */
  height: fit-content;
  display: flex;
  /* flex-direction: column; */
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
  display: none;
}

.product-card{
  /* border: 2px solid red; */
  flex: 0 0 auto;
  width: 250px;
  margin-right: 40px;
  transition: all 0.5s;
}

.product-image{
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.product-thumb{
  /* border: 2px solid blue; */
width: 100%;
height: 450px;
/* object-fit: cover; */
}
.cover{
object-fit: cover;
}

.discount-tag{
  position: absolute;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #ff7d7d;
  right: 10px;
  top: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

.card-btn{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
  transition: all 0.5s;
}

.product-card:hover .card-btn{
  opacity: 1;
}

.card-btn:hover{
  background: #efefef;
  font-weight: bold;
  color: #ff7d7d;
}

.product-info{
  width: 100%;
  height: 100px;
  padding: 10px;
}

.product-brand{
  text-transform: uppercase;
}

.product-short-des{
  height: fit-content;
  width: 100%;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  overflow:auto;
  text-transform: capitalize;
  margin: 5px 0;
}

.price{
font-weight: 900;
font-size: 20px;
}
.actual-price{
margin-left: 20px;
opacity: 0.5;
text-decoration: line-through;
}

.next-btn, .pre-btn{
  border: none;
  outline: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, #fff 100%);
  cursor: pointer;
  z-index: 8;
}

.pre-btn{
right: -30px;
}
.next-btn{
  transform: rotate(180deg);
  left: -30px;
}
@media screen and (max-width:800px){
  .pre-btn{
    right: 0;
    }
    .next-btn{
      left: 0;
    }
}
.next-btn img, .pre-btn img{
  width: 20px;
  height: 40px;
  opacity: 0.5;
}

.pre-btn:hover img, .next-btn:hover img{
  opacity: 1;
}


/* ****************** collections ******************** */

.collection-container{
  width: 70%;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px;
  margin: auto;
}
@media screen and (max-width:1000px){
.collection-container{
  width: 90%;
}
}
.collection{
  position: relative;
}
.collection img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.collection p{
  /* border: 2px solid blue; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
  z-index: 7;
}
.collection:nth-child(5){
  grid-column: span 2;
  margin-bottom: 10px;
  max-height: 500px;
}
.collection:nth-child(5) p{
background: #00000034;
padding: 5px;
border-radius: 10px;
}
@media screen and (max-width:500px){
  .collection-container{
    display: flex;
    flex-direction: column;
  }

   .collection:nth-child(3) p{ 
top: 40% ;
} 
}
/* *********************************************************** */
/* ******************** footer ********************** */

footer{
position: relative;
width:100%;
padding: 40px 10vw;
padding-bottom: 80px;
background: #383838;
margin-top: 100px;
}

.footer-container{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.logocircle{
  /* border: 2px solid blue; */
  width: 103px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  height: 105px;
}

.footer-container .logo{
  position: absolute;
  top: 0;
  height: 117px;
  border: 0;
  width: 200px;
  left: -56px;
}

.footer-ul-container{
  /* border: 2px solid rgb(247, 247, 252); */
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.category{
  width: 200px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:10px;
  list-style: none;
}

.category-title{
grid-column: span 2;
text-transform: capitalize;
color: #fff;
font-size: 20px;
margin-bottom: 20px;
}

.category .footer-link{
text-decoration: none;
text-transform: capitalize;
color: rgba(255,255,255,0.50);
}

.footer-link:hover{
  color: #fff;
}

.footer-title, .info {
  color: rgba(255, 255, 255, 0.75);
  margin: 20px 0;
  text-transform: capitalize;
}

.footer-title {
  margin-top: 80px;
  color: #fff;
}

.footer-social-container{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.social-link{
  color: #fff;
  margin-left: 20px;
  text-transform: capitalize;
}

.social-link:nth-child(1){
  margin-left: 0;
}

.footer-credit{
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #fff;
  background: rgba(0, 0, 0, 0.2);
}








































